<!DOCTYPE html>
<html>
<head>
  <title>Better Class Viewer</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/betterviewer.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
</head>

<body>
<nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Better Class Viewer</a>
    </div>
  </nav>
  
<div class="container">
  <div class="row">

    <div class="input-field col s5">
      <input id="subject_input" class="dropdown-button" data-beloworigin="true" data-activates='sub_drp' placeholder="Subject" autocomplete="off"/>
      <ul id='sub_drp' class='dropdown-content'></ul>
    </div>

    <div class="input-field col s5">
      <input id="course_input" class="dropdown-button" data-beloworigin="true" data-activates='crse_drp' placeholder="Course" autocomplete="off"/>
      <ul id='crse_drp' class='dropdown-content'></ul>
    </div>

  </div>
  <table id="details" class="bordered hightlight" style="table-layout: fixed;">
  <thead>
    <tr>
      <th>CRN</th>
      <th>Section</th>
      <th>Credit</th>
      <th>Title</th>
      <th>Days</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Instructor</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Location</th>
      <th>Online Content</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</body>
</html>